.Content {
    max-width: 1000px;
    margin: 70px auto;
    display: flex;
}
.main-title {
    font-size: 28px;
    margin: 0;
    padding-top: 7px;
}
input {
    padding: 5px;
    font-size: 27px;
    margin-left: 80px;
    border: 2px solid black;
    font-weight: bold;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
}
.block {
    display: flex;
    margin: 10px 30px;
}
.main-text {
    font-weight: bold;
    margin-left: 50px;
    font-size: 25px;
    margin-top: 0;
}
.text {
    margin-left: 50px;
    width: 400px;
    font-size: 20px;
}
.selection {
    margin-top: 5px;
    cursor: pointer;
    margin-left: 80px;
    font-size: 27px;
    padding: 5px 3px;
    background: #fff;
    border: 2px solid black;
    width: 355px;
}