.Content {
    max-width: 1000px;
    margin: 70px auto;
    display: flex;
}
.main-title {
    font-size: 28px;
    margin: 0;
    padding-top: 7px;
}
input {
    padding: 5px;
    font-size: 27px;
    margin-left: 80px;
    border: 2px solid black;
    font-weight: bold;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
}
.block {
    margin: 0 30px;
}